{% extends 'pharm/base.html' %}

{% block content %}


<div class="container">
    <div class="medicines">
 <h1>Лекарственные средства</h1>
 <form method="GET" >
  <label for="drugs"></label>
  <input id="search-input-medicines" class="input_medicines" type="text" name="drugs" id="drugs" value="{{ drugs }}">
     <ul id="suggestions"></ul>
     <div class="file-selection">
                {% for file in polypharma_files %}
                    <div class="file-option">
                       <input type="radio" id="{{ file }}" name="file_upload" value="{{ file.file }}" {% if loop.index == 1 %}checked{% endif %}>
                        <label for="{{ file }}">{{ file.name }}</label>
                    </div>
                    {% if forloop.counter|divisibleby:2 %}
                        </div><div class="file-selection">
                    {% endif %}
                {% endfor %}
            </div>
     <div>
      <button class="button_next" type="submit">
          Определить взаимодействие
      </button>
  </div>
 </form>
    </div>

    <script>
    // Установить первый элемент радиокнопок как выбранный по умолчанию
    document.addEventListener('DOMContentLoaded', function() {
        const radios = document.querySelectorAll('input[name="file_upload"]');
        if (radios.length > 0) {
            radios[0].checked = true; // Установить первый радиобаттон как выбранный
        }
    });
</script>
{% load static %}
<script src="{% static 'pharm/js/AJAX_Polipharma_Drugs.js' %}"></script>

    <h1>Результаты оценки рисков побочных эффектов при полифармакотерапии</h1>
    <div class="interaction_description_{% if classification_description == 'Под наблюдением врача' %}attentively{% elif classification_description == 'Разрешено' %}insignificant{% elif classification_description == 'противопоказано' %}contraindicated{% elif classification_description == 'Запрещено' %}serious{% endif %}">
    <p><strong>Общий риск полифармакотерапии:</strong> {{ classification_description }}({{ rand_iteractions }})</p>
    </div>
<h2>Детали рисков возникновения побочных эффектов</h2>
<div class="interaction_description_serious">
<ul >
    {% for effect in side_effects_class_3%}
        <li>{{ effect.name }} ({{ effect.rangsum }})</li>
    {% endfor %}
</ul>
</div>
<div class="interaction_description_attentively">
<ul >
    {% for effect in side_effects_class_2|slice:":3" %}
        <li>{{ effect.name }} ({{ effect.rangsum }})</li>
    {% endfor %}
</ul>
{% if side_effects_class_2|length > 3 %}
    <button onclick="toggleDetails('class2-details')">далее</button>
    <ul id="class2-details" style="display:none;">
        {% for effect in side_effects_class_2|slice:"3:" %}
            <li>{{ effect.name }} ({{ effect.rangsum }})</li>
        {% endfor %}
    </ul>
{% endif %}
</div>
<div class="interaction_description_insignificant">
<ul >
    {% for effect in side_effects_class_1|slice:":3" %}
        <li>{{ effect.name }} ({{ effect.rangsum }})</li>
    {% endfor %}
</ul>
{% if side_effects_class_1|length > 3 %}
    <button onclick="toggleDetails('class1-details')">далее</button>
    <ul id="class1-details" style="display:none;">
        {% for effect in side_effects_class_1|slice:"3:" %}
            <li>{{ effect.name }} ({{ effect.rangsum }})</li>
        {% endfor %}
    </ul>
{% endif %}
</div>
    <h2>Применимость комбинации с другими лекарственными средствами</h2>
<div class="interaction-container">
    <div class="interaction_description_serious">
        <h3>Серьезные взаимодействия</h3>
        <ul>
            {% for effect in arr_drugs_class_3|slice:":3" %}
                <li>{{ effect.name }}</li>
            {% endfor %}
        </ul>
        {% if arr_drugs_class_3|length > 3 %}
            <button onclick="toggleDetails('class4-details')">далее</button>
            <ul id="class4-details" style="display:none;">
                {% for effect in arr_drugs_class_3|slice:"3:" %}
                    <li>{{ effect.name }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div class="interaction_description_attentively">
        <h3>Внимательные взаимодействия</h3>
        <ul>
            {% for effect in arr_drugs_class_2|slice:":3" %}
                <li>{{ effect.name }}</li>
            {% endfor %}
        </ul>
        {% if arr_drugs_class_2|length > 3 %}
            <button onclick="toggleDetails('class5-details')">далее</button>
            <ul id="class5-details" style="display:none;">
                {% for effect in arr_drugs_class_2|slice:"3:" %}
                    <li>{{ effect.name }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>
<script>
function toggleDetails(id) {
    var details = document.getElementById(id);
    if (details.style.display === "none") {
        details.style.display = "block";
    } else {
        details.style.display = "none";
    }
}
</script>


{% if interactions %}
      <h1>
          Информация о попарном взаимодействии:
      </h1>
  <ul class="medicines_ul">
   {% for interaction_list in interactions %}
    {% for interaction in interaction_list %}
      <li class="medicines_li">
          <div class="interaction_with">
              <h3 class="interaction_with_h2">
              {{ interaction.name }} - {{ interaction.interaction_with }} ({{ interaction.classification }})
              </h3>
          </div>
          <div class="interaction_description_{% if interaction.classification == 'внимательно следите' %}attentively{% elif interaction.classification == 'незначительный' %}insignificant{% elif interaction.classification == 'противопоказано' %}contraindicated{% elif interaction.classification == 'серьезный' %}serious{% endif %}">
             {{ interaction.description }}
          </div>
      </li>
    {% endfor %}
   {% endfor %}
  </ul>
{% endif %}
</div>

{% endblock %}